<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luna Blog: Create Post</title>
    <th:block th:replace="partials/styles :: styles" />
</head>
<body class="d-flex flex-column min-vh-100">

<nav th:replace="partials/navbar :: navbar"></nav>
<header th:replace="partials/header :: header('Create Post')"></header>

<!-- use thymeleaf to dynamically create the html for each post -->
<main class="container">
    <section th:replace="partials/post-form :: post-form('Create Post', '/posts/create')"></section>
</main>

<footer th:replace="partials/footer :: footer"></footer>
<th:block th:replace="partials/scripts :: scripts" />

</body>
</html>