<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Ad</title>
    <div th:replace="partials/links :: links"></div>
</head>
<body>
<header th:replace="partials/header :: header"></header>
<nav th:replace="partials/navbar :: navbar"></nav>

<main class="container">
    <form th:action="@{/ads/create}" th:method="post" th:object="${ad}">
        <input style="display: none" th:value="${ad.id}" th:field="*{id}"/>
        <label for="title">Enter Ad Title: </label>
        <input type="text" id="title" th:field="*{title}"><br>
        <label for="description">Type in the ad text:</label><br>
        <textarea th:field="*{description}" id="description" cols="72" rows="5"></textarea><br>
        <button>Submit</button>
    </form>
</main>

<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/scripts :: scripts"></div>
</body>
</body>
</html>
