<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head('Spring blog - Create Post')"></head>

<body>

<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container">
  <h1>Create Ad</h1>

  <form th:action="@{/ads/create}" th:method="POST" th:object="${ad}">
    <div class="form-group">
      <input class="form-control" th:field="*{title}" />
    </div>
    <div class="form-group">
      <textarea class="form-control" th:field="*{description}"></textarea>
    </div>

    <input type="submit" value="Create Ad" />
  </form>
</div>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>