<html lang="en" xmlns:th="http://www.thymeleaf.org">
<standard_links th:fragment="footer">
    <div class="navbar navbar-expand-lg navbar-light footer">
        <!-- left side content -->
        <ul class="navbar-nav mr-auto" id="footer-nav">
            <li class="nav-item"><a class="nav-link" href="https://www.codeup.com/" target="_blank">About us</a></li>
        </ul>
    </div>
</standard_links>



<!--JUSTIN'S EXAMPLE HEADER-->
<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--<footer th:fragment="footer" class="footer mt-auto py-3 bg-dark text-light">-->
<!--    <div class="container">-->
<!--        <span>Place sticky footer content here.</span>-->
<!--    </div>-->
<!--</footer>-->

<!--</body>-->
<!--</html>-->