<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Show Posts</title>
  <link th:replace="partials/links :: links"/>
</head>
<body>
<header th:replace="partials/header :: header"></header>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1>Welcome to <span th:text="${user.username}"></span>'s Profile Page</h1>

<main class="container">
  <h2>Ads by this user:</h2>
  <show_post th:if="${user.ads}">
    <div th:each="item : ${user.ads}">
      <h2 th:text="${item.title}"></h2>
      <p th:text="${item.description}"></p>
      <br>
    </div>
  </show_post>
</main>

<footer th:replace="partials/footer :: footer"></footer>
<scripts th:replace="partials/scripts :: scripts"></scripts>
</body>
</html>